
<div style="padding-top: 3%;padding-left: 3%;padding-right: 3%;">
    <div class="card green-border" >
        <div class="card-body" >
            <h2>ltinerary Details</h2>
    <table style="padding-bottom: 3%;" class="table">
        <thead>
          <tr>
            <th scope="col">Airlines</th>
            <th scope="col">Flight Now</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">GDC PNR</th>
            <th scope="col">Airlines PNR</th>
            <th scope="col">Baggage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th >
                <img src="../../../assets/tunisair.PNG" 
                class="img-fluid img-thumbnail" alt="Sheep">
            </th>
            <td>TUN722</td>
            <td>Tunis</td>
            <td>Paris(ory)</td>
            <td>XWMLI</td>
            <td></td>
            <td>1P</td>
       
          </tr>
          <tr>
            <th >
                <img src="../../../assets/tunisair.PNG" 
                class="img-fluid img-thumbnail" alt="Sheep">
            </th>
            <td>TUN717</td>
            <td>Paris(orly)</td>
            <td>Tunis</td>
            <td>ZWXMN</td>
            <td></td>
            <td>1P</td>
 
          </tr>
        </tbody>
      </table>

      <div style="padding-top: 3%;" >
      <h2>Traveler information</h2>
      <table style="padding-bottom: 3%;" class="table">
        <thead>
          <tr>
            <th scope="col">Passenger</th>
            <th scope="col">Gender Now</th>
            <th scope="col">Birth date</th>
            <th scope="col">Nationality</th>
            <th scope="col"> Passeport No</th>
            <th scope="col"> Expiry date</th>
            <th scope="col">E-mail</th>
            <th scope="col"> Tel</th>
            <th scope="col">display ticket price ?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th >
                Arfaoui Chaima
            </th>
            <td>Female</td>
            <td>20-08-1997</td>
            <td>Tunisian</td>
            <td>x2326958</td>
            <td>20-01-2024</td>
            <td>chaimaarfaoui6@gmail.com</td>
            <td>58637652</td>
            <td><span class="material-icons">download</span></td>
       
          </tr>
     
        </tbody>
      </table></div>
<div style="padding-top: 3%;" >
    <h2>Payement</h2>
      <table style="padding-bottom: 3%;" class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Costumer currency</th>
       
          </tr>
        </thead>
        <tbody>
          <tr>
            <th >
               Basic Fare
            </th>
            <td>50 $</td>
       
         
       
          </tr>
          <tr>
            <th >
                Taxe
            </th>
            <td>60 $</td>
         
  
 
          </tr>
          <tr>
            <th >
                Totale fare
            </th>
            <td>110 $</td>
          
  
 
          </tr>
        </tbody>
      </table>

</div>


    </div></div>
</div>
