<div class="popup-container">
    <div>
        <div class="popup-wrapper">
            <button class="btn btn-light ml-auto" (click)="CloseBtn()">
                X
            </button>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Ru rule aplication
                  <span class="badge badge-primary badge-pill">+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Mn Min stay
                  <span class="badge badge-primary badge-pill">+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Mx Max stay
                  <span class="badge badge-primary badge-pill">+</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                Bo blackouts
                    <span class="badge badge-primary badge-pill">+</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sr sales restrect
                        <span class="badge badge-primary badge-pill">+</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                       App advance Res/tkt
                            <span class="badge badge-primary badge-pill">+</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                          FL FLT Application
                                <span class="badge badge-primary badge-pill">+</span>
                              </li>
              </ul>
        </div>
    </div>
</div>