<!-- <mat-toolbar color="primary">
  
    
    <a 
      style="margin-right: 2%;"
    mat-icon-button class="example-icon favorite-icon mr200 ml20" aria-label="Example icon-button with heart icon"
    routerLink="/Login">
     Login 
    </a>

    <a
  
    mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    routerLink="/Register">
        Register
    </a>

  
  </mat-toolbar> -->


  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="assets\travel-trip-logo.webp" class="img-fluid">
      </div>
</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">OUR SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">ABOUT-US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Register">CONTACT-US</a>
        </li>

      </ul>
     
    </div>
  </nav>