<section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="padding-top: 10%">
          <h2>DEALS HUB OF THE BEST ACCOMMODATION IN THE WORLD</h2>
        </div>
        <div class="col-md-6" >
          <img src="../../../assets/holi.png" alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  
  </section>
  <section class="cards" style="padding-top: 8%;padding-left: 25%;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/transfer.jpg" class="card-img-top" alt="Card Image 1">
            <div class="card-body">
              <h2 class="card-title">TRANSFERS </h2>
              <p class="card-text">Well Selected Transfers for you on our agency </p>
           
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../../assets/tu.jpg" class="card-img-top" alt="Card Image 2">
            <div class="card-body">
              <h2 class="card-title">HOTEL</h2>
              <p class="card-text">Hotels
                Book in more than 300,000 Hotels around the world</p>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </section>

  
  <section class="about-us">
    <!-- ... existing code ... -->
  </section>
  
  <section class="cards">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/hotel.jpg" class="card-img" alt="Card Image 1">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">YBHOLIDAYS
                </h1>
                  <p class="card-text">During a trip, the most substantial budget is often that of accommodation. To reduce this budget, select hotels at the best price, good deals or rooms with the best quality/price ratio. This new Ybholidays B2B reservation center allows our customers to access a diversified hotel offer around the world. Book your hotel online on our platform for a comfortable stay at an attractive price.</p>
                </div>
              </div>
            </div>
          </div>
          <br>
  
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/équipement-réception.jpg" class="card-img" alt="Card Image 2">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">Ybholidays, best B2B accommodation booking platform
                </h1>
                  <p class="card-text">Ybholidays has set up this online reservation system to help its customers with their hotel reservations. This new online booking platform allows travelers and travel agencies to book various services in just a few clicks, such as hotels, transfers, and several types of rooms. We also have a real-time price comparison to find the best accommodation offers around the world. Our main mission is to provide each customer with the best product in a simple, fast and competitive way..</p>
                </div>
              </div>
            </div>
          </div>
          <br>
  
          <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/noel.jpg" class="card-img" alt="Card Image 3">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">Book your hotel online on Ybholidays </h1>
                  <p class="card-text">Whether for a business trip or for sightseeing, accommodation is an important element for a pleasant stay. Thanks to the internet, but above all to our online reservation system, you will be able to travel to the four corners of the world without any stress. You simply need to log in to our platform to see and select the hosting offer that meets your expectations and your budget. To access the Ybholidays platform, simply create an account by filling out an access form. After obtaining a code and an identifier, you can log in at any time to organize your trips quickly and easily. Select the hotel of your dreams on Ybholidays at a reasonable price.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="padding-top: 10%;">

    <app-footer></app-footer>
  </div>