.background-container {
    position: relative;
    width: 100%;
    height: 89.5%;
  }
  
  .image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .image-layer.active {
    opacity: 1;
  }
  .btn btn-primary{
    color: darkblue;
  }
  .form-control{
    height: 30px;
    font-size: 14px;
  }
  .background{
    background-image: url("src\assets\air.jpg"); 
    background-size: cover;
    width: 100vw;
    height: 100%;
   background-attachment: fixed;
   background-position: center;
 }