<div class="background">
  <div class="background-container">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3" style="padding: 50px 100px;">
            <div class="card" style=" background-color: rgba(255, 255, 255, 0.2); margin-top: 100px;">
              <div class="card-body">

                <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">





                  <div class="form-group">
                    <label for="exampleInputEmail1" style="color: black;">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                      formControlName="username" required matInput placeholder="Enter Here" >
                    <small id="emailHelp" class="form-text text-muted" style="color: aliceblue;">We'll never share your
                      email with anyone else.</small>
                  </div>




                  <div class="form-group">
                    <label for="exampleInputPassword1" style="color: black;">Password</label>
                    <input type="password" formControlName="password" required matInput class="form-control"
                      id="exampleInputPassword1" placeholder="Password">
                  </div>




                  <div class="container text-center" style="margin-left: 42% ">
                    <button type="submit" class="btn btn-primary">Login </button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- 
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group" >
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"   formControlName="username"
    required
    matInput placeholder="Enter Here" >
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password"  formControlName="password"
    required
    matInput class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Login </button>
</form> -->
<div style="padding-top: 10%;">

  <app-footer></app-footer>
</div>