<div  style="padding-left: 2%;padding-top: 5%;padding-right: 1%;">
<div class="card" style="padding-right: 1%;padding-left: 1%;" >
<form class="needs-validation" novalidate>

<div style="padding-top: 1%;">
    <div class="form-check form-check-inline" style="padding-right: 20%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">All</label>
      </div>
      <div class="form-check form-check-inline" style="padding-right: 15%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Padding Queue</label>
      </div>
      <div class="form-check form-check-inline" style="padding-right: 15%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Booking Queue</label>
      </div>
      <div class="form-check form-check-inline" style="padding-right: 15%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Ticket order Queue</label>
      </div>
</div>

<div style="padding-top: 1%; padding-bottom: 2%;">
    <div class="form-check form-check-inline" style="padding-right: 14%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">ticketed Queue</label>
      </div>
      <div class="form-check form-check-inline" style="padding-right: 14%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Canceled Queue</label>
      </div>
      <div class="form-check form-check-inline" style="padding-right: 14%;">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Refund Queue</label>
      </div>
  
</div>
  
    <div class="form-row">
      <div class="col-md-2 mb-3">
        <label for="validationCustom01">REF</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom02">TICKET NUMBER</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustomUsername">PASSENGER</label>
        <div class="input-group">
        
          <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom01">AIRLINE</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom02">DOMESTIC</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="validationCustom02">GDS TYPE</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
   
        <div class="col-md-2 mb-3">
            <label for="validationCustom01">NUMBER PNR</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom02">TRAVEL DATE FROM</label>
            <input type="date" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustomUsername">TRAVEL DATE TO</label>
            <div class="input-group">
            
              <input type="date" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom01">BOOKING DATE FROM</label>
            <input type="date" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom02">BOOKING DATE TO</label>
            <input type="date" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-2 mb-3" style="padding-top: 2.2%;">
           <div class="card">
            <div class="form-row">
                <div class="col-md-8">
                    <p>Ticket for Today</p>
                    </div>
                    <div class="col-md-2">
                    <input type="checkbox" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required> 
        
                </div>
            </div>
           
           </div>
          
          </div>
        </div>
    <button class="btn btn-primary" type="submit">Find now</button>
  </form>
</div>
</div>